.VideoCard {
  height: 350px;
  .status {
    top: -10px;
    left: -10px;
    width: 150px;
    height: 150px;
    span {
      width: 150%;
      height: 40px;
      transform: rotate(-45deg) translateY(-20px);
      z-index: 1;
    }
  }
  .body {
    flex: 1;
    height: calc(100% - 150px);
    .description {
      flex: 1;
      overflow-wrap: break-word;
      overflow: auto;
    }
  }
}
